<header class="site-header">
  <div class="container row" style="justify-content:space-between;">
    <div class="brand">
      <img src="/assets/logo.svg" alt="BFExpress" style="height:34px;" />
    </div>
    <nav class="main-nav">
      <a routerLink="/">Accueil</a>
      <a routerLink="/services">Nos Services</a>
      <a routerLink="/faq">FAQ</a>
      <a routerLink="/suivi" class="nav-button">Suivi de colis</a>
      <a routerLink="/contact">Nous contacter</a>
      <a routerLink="/login" class="nav-button login-button">Se connecter</a>
    </nav>
  </div>
</header>
